* {
  font-family: Verdana;
}

.primary-nav {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-left: 6rem;
  padding-right: 6rem;
}
/* Travel Site Logo at top left side of landing page */
.primary-nav__logo {
  font-size: 1.1rem;
  text-decoration: none;
  color: #335576;
  font-weight: bold;
}

.primary-nav-left {
  display: inline-block;
}
.primary-nav-right__list {
  list-style: none;
  display: flex;
}

.primary-nav-right__anchor {
  color: black;
  text-decoration: none;
  margin: 0.3125rem;
  font-size: 1.1rem;
  font-weight: 400;
}

.contact {
  background-color: #fefaf5;
  display: flex;
  padding-left: 14rem;
  /* justify-content: baseline; */
}

.contact__heading {
  font-size: 1.1rem;
  text-decoration: none;
  color: #335576;
  font-weight: bold;
}
.contact__card {
  width: 17rem;
  display: flex;
  flex-direction: column;
}
.contact-hour__card {
  display: flex;
  /* width: 51rem; */
  flex-direction: column;
}
.contact-day__card {
  display: flex;
  /* width: 51rem; */
  flex-direction: row;
}
.contact-hour__sub-card {
  display: flex;
  width: 11rem;
  flex-direction: column;
}
.contact-sub-heading {
  font-size: 0.45rem;
  color: #db7a4e;
}
/* .contact__sub-card {
  display: flex;
  flex-direction: row;
} */
.contact-hour__text {
  font-size: 0.95rem;
}
.contact__icon {
  width: 1.5rem;
  height: 1.5rem;
  display: inline-block;
  margin-right: 1.5rem;
  color: #335576;
}
