.hero {
  background-color: #fefaf5;
  display: flex;
}

.hero-left {
  margin: 0;
  width: 36rem;
  height: 25rem;
  padding-left: 6rem;
  display: flex;
  flex-direction: column;
  color: #335576;
}

.hero-left__heading {
  font-size: 1.5rem;
}
.hero-left__para {
  font-size: 0.95rem;
  margin-bottom: 1.3125rem;
}
.hero-left__button {
  width: 3rem;
  background-color: #db7a4e;
  text-decoration: none;
  border-radius: 1.625rem;
  padding: 0.5rem 2.2rem;
  color: #ffffff;
  margin-top: 1.3125rem;
}

.hero-right__img {
  padding-right: 6rem;
  width: 30rem;
  height: 25rem;
}

.recommendations {
  font-size: 0.95rem;
  color: #335576;
  font-weight: bold;
  padding-left: 6rem;
}
.recommendations__cards {
  display: flex;
  justify-content: center;
  margin: 0;
}
.recommendations__card-img-text {
  position: relative;
}
.recommendations__card-img {
  border: 0.0625rem solid black;
  border-radius: 0.3125rem;
  width: 16rem;
  height: 24rem;
  margin-right: 2.625rem;
}
.recommendations__card-text {
  position: absolute;
  font-size: 1.25rem;
  right: 3.75rem;
  bottom: 0.3125rem;
  color: #ffffff;
}
