@use "./partials/normalize";
@use "./partials/global";

@mixin column-display {
  display: flex;
  flex-direction: column;
}
@mixin responsive-display {
  // display: flex;
  // flex-direction: column;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}
.hero {
  background-color: #fefaf5;
  display: flex;
  padding-top: 5%;
  padding-bottom: 5%;
  &-left {
    margin: 0;
    width: 36rem;
    height: 25rem;
    padding-left: 6rem;
    @include column-display;
    color: #335576;
    &__button {
      width: 3rem;
      background-color: #db7a4e;
      text-decoration: none;
      border-radius: 1.625rem;
      padding: 0.5rem 2.2rem;
      color: #ffffff;
      margin-top: 1.3125rem;
    }
    &__heading {
      font-size: 1.3rem;
    }
    &__para {
      font-size: 0.95rem;
      margin-bottom: 1.3125rem;
    }
  }
  &-right__img {
    padding-right: 6rem;
    width: 30rem;
    height: 25rem;
  }
}

.recommendations {
  margin-top: 5%;
  margin-bottom: 8%;
  padding-left: 6rem;
  &__heading {
    font-size: 0.95rem;
    color: #335576;
    font-weight: bolder;
  }
  &__cards {
    display: flex;
    justify-content: center;
    margin: 0;
    &-text {
      position: absolute;
      font-size: 1.25rem;
      right: 3.75rem;
      bottom: 0.3125rem;
      color: #ffffff;
    }
    &-img {
      border: 0.0625rem solid rgba(0, 0, 0, 0.2);
      border-radius: 0.3125rem;
      width: 16rem;
      height: 24rem;
      margin-right: 2.625rem;
      box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.2);
      &-text {
        position: relative;
      }
    }
    &-img:hover {
      border: 0.4rem solid rgb(146, 142, 142);
    }
  }
}
.primary-nav-right__anchor-current {
  border-bottom: 0.22rem solid #db7a4e;
}

@media only screen and (max-width: 1000px) {
  .hero {
    @include responsive-display;
    &-left {
      margin: 0 auto;
      padding-left: 0;
      width: 20rem;
      height: 26rem;
      display: flex;
      &__button {
        margin-top: 1.3125rem;
      }
    }
    &-right__img {
      padding-right: 0;
      height: 26rem;
    }
  }

  .recommendations {
    padding-left: 0;
    @include responsive-display;
    &__cards {
      @include responsive-display;
      &-img {
        margin-bottom: 5%;
      }
    }
  }
}
